In [7]:
import pandas as pd
import pandas_datareader as pdr
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import statsmodels.api as sm
from statsmodels.regression.rolling import RollingOLS
matplotlib.style.use('ggplot')

In [2]:
ff5 = pdr.famafrench.FamaFrenchReader('Emerging_5_Factors',start = '2000-01-01').read()[0]

In [4]:
ff5_new = ff5.copy()
ff5_new['Mkt'] = ff5_new['Mkt-RF'] + ff5_new['RF']
#cols = ['SMB', 'HML', 'RMW', 'CMA', 'Mkt']
cols = ['SMB', 'HML', 'Mkt']

In [5]:
ff5_new[cols]

          SMB    HML    Mkt
Date
2000-01  4.17   2.93   0.83
2000-02 -0.43 -11.54   2.94
2000-03  0.49  -0.84   0.65
2000-04  0.06   3.68 -10.87
2000-05 -0.53   1.60  -2.60
...       ...    ...    ...
2020-08  1.87  -0.55   2.57
2020-09  0.50   0.25  -1.72
2020-10 -2.17  -0.46   1.67
2020-11  1.03   6.06  10.14
2020-12 -1.63   1.04   7.19

[252 rows x 3 columns]

In [8]:
ff5_new[cols].describe()

              SMB         HML         Mkt
count  252.000000  252.000000  252.000000
mean    -0.029643    0.614563    0.832976
std      1.760412    2.078684    6.068327
min     -6.950000  -11.540000  -27.230000
25%     -0.962500   -0.555000   -2.400000
50%     -0.015000    0.410000    1.090000
75%      1.100000    1.875000    4.767500
max      6.520000    6.200000   17.980000

In [10]:
ff5_annual = pdr.famafrench.FamaFrenchReader('Emerging_5_Factors',start = '2000-01-01').read()[1]
ff5_annual.describe()

          Mkt-RF        SMB        HML        RMW        CMA         RF
count  21.000000  21.000000  21.000000  21.000000  21.000000  21.000000
mean   10.871905   0.403333   8.504286   2.536190   2.167619   1.590476
std    30.998081   5.993530  12.898544   5.948851   7.853183   1.822061
min   -55.360000  -8.820000 -16.440000  -7.550000 -20.050000   0.020000
25%    -7.950000  -3.820000  -1.540000  -2.100000  -0.470000   0.100000
50%    14.740000   0.600000   7.810000   2.330000   3.930000   1.020000
75%    28.770000   3.120000  16.550000   7.400000   6.960000   2.140000
max    81.770000  17.460000  38.100000  10.940000  12.150000   5.890000

In [13]:
ff_mom = pdr.famafrench.FamaFrenchReader('Emerging_MOM_Factor',start = '2000-01-01').read()[0]
ff_mom

          WML
Date
2000-01 -2.94
2000-02  5.55
2000-03 -2.35
2000-04 -6.91
2000-05  0.39
...       ...
2020-08  0.52
2020-09  1.58
2020-10  1.28
2020-11 -8.36
2020-12  1.05

[252 rows x 1 columns]

In [14]:
ff_mom.mean()*12

WML    8.47619
dtype: float64